<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>registration</title>
</head>
<body>
<form id="registration">
    <label>
        <input type="text" name="name" placeholder="name"><br>
        <span data-name ="name"></span><br>
    </label><br>
    <label>
        <input type="email" name="email" placeholder="email"><br>
        <span data-name ="email"></span><br>
    </label><br>
    <label>
        <input type="text" name="number" placeholder="phone_number"><br>
        <span data-name ="number"></span><br>
    </label><br>
    <input type="submit" name="submit" value="SIGN IN"><br>
</form>

<h2 id="message"></h2>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/registration.js"></script></body>
</html>